CLIENT_ID=<Twitch app client id>
CLIENT_SECRET=<Twitch app client secret>
USER_AUTH_TOKEN=<Twitch user oauth token value>
CHECK_INTERVAL_SECONDS=<channel status check interval>
CHANNEL_NAME=<Twitch channel name>
OUTPUT_DIR=<base output directory>